*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 1200px;
    margin: 0 auto; 
    height: 100vh;  
}











.leagues-section{
    background-color: whitesmoke;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.leagues{
    font-size: 20px;
    margin-bottom: 25px;
   
}
.league-list {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.league-list div {
    padding: 10px;
    margin: 5px 0; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.football-league {
    padding: 10px;
    background-color: #c3fcb5;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.football-league:hover {
    background-color: rgb(77, 168, 82);
}

.basket-league {
    padding: 10px;
    background-color: #fdd47a; /* Primer boje za košarku */
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.basket-league:hover {
    background-color: rgb(255, 200, 2); /* Svetlija nijansa */
}

.motor-league{
    padding: 10px;
    background-color: #c2c2bd; /* Primer boje za košarku */
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.motor-league:hover{
    background-color: #141413;
    color:white;
}














.main-section {
    padding: 20px; 
    flex-grow: 1;
}

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #f8f8f8;
    border-radius: 8px; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /
}

.searchdiv {
    display: flex; 
    align-items: center; 
}

.search-pic {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

.searchbar {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 8px; 
    font-size: 16px; 
    width: 250px; 
    transition: border 0.3s; 
}

.searchbar:focus {
    border-color: #007bff; 
    outline: none; 
}

.view {
    margin-top: 20px; 
}
