*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 1200px;
    margin: 0 auto; 
    height: 100vh;  
}

.navigation-section {
    background-color: #172053;
    height: 100vh;
    width: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sport-chose {
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(134, 31, 31);
}

.sports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navitem {
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}


.navitem:hover {
    background-color: rgb(134, 31, 31); 
    transform: scale(1.3);  
}

.active{
    background-color: rgb(134, 31, 31);
    transform: scale(1.3);
}









.leagues-section{
    background-color: whitesmoke;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.leagues{
    font-size: 20px;
    margin-bottom: 25px;
   
}
.league-list {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.league-list div {
    padding: 10px;
    margin: 5px 0; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.football-league {
    padding: 10px;
    background-color: #c3fcb5;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.football-league:hover {
    background-color: rgb(77, 168, 82);
}

.basket-league {
    padding: 10px;
    background-color: #fdd47a; /* Primer boje za košarku */
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.basket-league:hover {
    background-color: rgb(255, 200, 2); /* Svetlija nijansa */
}

.motor-league{
    padding: 10px;
    background-color: #c2c2bd; /* Primer boje za košarku */
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.motor-league:hover{
    background-color: #141413;
    color:white;
}














.main-section {
    padding: 20px; /* Prostor unutar main sekcije */
    flex-grow: 1;
}

.header {
    display: flex; /* Koristi flexbox za raspored elemenata */
    align-items: center; /* Poravnaj elemente po vertikali */
    justify-content: space-between; /* Rasporedi elemente */
    background-color: #f8f8f8; /* Svetla pozadina */
    border-radius: 8px; /* Zaobljeni uglovi */
    padding: 10px; /* Prostor unutar header-a */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Blaga senka */
}

.searchdiv {
    display: flex; /* Flexbox za raspored slika i inputa */
    align-items: center; /* Poravnaj po vertikali */
}

.search-pic {
    width: 20px; /* Širina ikone pretrage */
    height: 20px; /* Visina ikone pretrage */
    margin-right: 10px; /* Razmak između ikone i inputa */
}

.searchbar {
    border: 1px solid #ccc; /* Granica inputa */
    border-radius: 4px; /* Zaobljeni uglovi */
    padding: 8px; /* Prostor unutar inputa */
    font-size: 16px; /* Veličina fonta */
    width: 250px; /* Širina pretraživača */
    transition: border 0.3s; /* Glatka promena granice */
}

.searchbar:focus {
    border-color: #007bff; /* Promeni boju granice kada je input fokusiran */
    outline: none; /* Ukloni outline kada je fokusiran */
}

.view {
    margin-top: 20px; /* Razmak između hedera i sadržaja */
}
